

    @font-face {
        font-family: "Raleway";
        src: url("Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
    }
   body {
font-family: "Raleway", serif;
   }

/* Navigation */
header{
    display: flex;
    justify-content: space-between;
}

nav ul
{
    list-style-type: none;
    display: flex; 
    justify-content: flex-end; 
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.2em;
    color: black;
    padding-top: 21px;
    text-decoration: none;
}

nav a:hover
{
    color: #0065FC;
    border-top: 3px solid; color :#0065FC; 
}
.S_inscrire{
    color: #0065FC;
/* titres */
}
h2
{
    font-weight: normal;
}
/* barre de recherche */
.fa-map-marker-alt
{
    background-color: #F2F2F2;
    padding-top: 8px; padding-left: 8px; padding-bottom: 10px; padding-right: 7px;
    border-top-left-radius: 10px; border-bottom-left-radius: 10px; border-color: #F2F2F2;
    margin-right: -4px;
}
.bouton-recherche
{
    color: white; font-weight: bold;
    padding: 6px;
    border-bottom-right-radius:10px ; border-top-right-radius: 10px;
    border: solid; border-color: #0065FC; 
    background-color: #0065FC;
}
.recherche
{
    padding: 6px;
    border-width:1px;
    border: solid;
    border-color: #F2F2F2;
    border-right: #0065FC;
}
/* filtres */
form
{
    display: flex;
    list-style-type: none;
}
label
{
    margin-top: 17px;
    margin-left: 15px;
}
.filtre
{
    color: #0065FC;
    font-weight: bold;
    margin: 0.5%;
    border-radius: 7px;
    border: solid; border-color: #F2F2F2; ;  
}
.txtbouton
{
    color: black;
}
.txtbouton:hover
{
    color: #0065fc;
}
section
{
    height: 100%;
}
aside
{
    display: flex;
    justify-content: space-between;
}
.hebergement
{
    background-color: #F2F2F2;
    border-radius: 7px;
    height: 60%;
}
.populaire
{
    background-color: #F2F2F2;
    border-radius: 7px;
    height: 30%;
}