

    @font-face {
        font-family: "Raleway";
        src: url("Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
    }
   body {
font-family: "Raleway", serif;
overflow-x: hidden;
   }

/* Navigation */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
header nav
{
    width: 45%;
}
nav ul
{
    list-style-type: none;
    display: flex; 
    justify-content: flex-end; 
}

nav li
{
    margin-right: 8%;

}

nav a
{
    font-size: 1.2em;
    color: black;
    padding-top: 21px;
    text-decoration: none;
 
}

nav a:hover
{
    color: #0065FC;
    border-top: 3px solid; color :#0065FC; 
}
.S_inscrire{
    color: #0065FC;
    width: 5%;
      text-decoration: none;

}
.logo-header
{
    width: 50%;
}
    /*pied de page*/
footer
{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: -1%;
    padding-right: 2%;
}
/* titres */
h1
{
    font-size: 30px;
}
h2
{
    font-weight: normal;
    font-size: 21px;
}
/* barre de recherche */
.fa-map-marker-alt
{
    background-color: #F2F2F2;
    padding-top: 16px; padding-left: 15px; padding-bottom: 18px; padding-right: 15px;
    border-top-left-radius: 10px; border-bottom-left-radius: 10px;
    margin-right: -4px;

}
.bouton-recherche
{
    color: white; font-weight: bold;
    padding: 8.5px;
    border-bottom-right-radius:10px ; border-top-right-radius: 10px;
    background-color: #0065FC; border: 0px;
    height: 50px;
}
.recherche
{
    padding: 6px;
    border-width:1px;
    border: solid;
    border-color: #F2F2F2;
    border-right: #0065FC;
    height: 50px; width: 50%;
}
.fa-search
{
    visibility: hidden;
}
/* filtres */
form
{
    display: flex;
    list-style-type: none;
}
label
{
    margin-top: 17px;
    margin-left: 15px;
}
.contenant_filtres
{
    display: flex;
    align-items: center;
}
.txtfiltre
{
    font-weight: bold;
    font-size: 18px;
}
.filtre
{
    font-weight: bold;
    font-size: 15px;
    margin: 1%;
    border-radius: 30px;
    border: solid; border-color: #F2F2F2; background-color: white; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 56px;
}
.filtrespanicone
{
    background-color: #DEEBFF;
    width: 56px; height: 56px;
    border-radius: 30px; 
    margin-left: -15%;
    display: flex;
    align-items: center;
    
}
.icone1
{
    color: #0065FC;
    background-color: #DEEBFF;
    padding-left: 25%; border-radius: 25px;  font-size: 20px;
   
}
.icone2
{
color: #0065FC;
    background-color: #DEEBFF;
    padding-left: 35%; border-radius: 25px;  font-size: 20px;
}
.icone3
{
color: #0065FC;
    background-color: #DEEBFF;
    padding-left: 30%; border-radius: 25px;  font-size: 20px;
}
.icone4
{
color: #0065FC;
    background-color: #DEEBFF;
    padding-left: 28%; border-radius: 25px;
    font-size: 20px;
}
.filtre:hover
{
    color: #0065fc;
}
.info
{
    color: #0065FC;
    border: solid; border-color: #F2F2F2;
    padding: 7px; padding-right: 10px; padding-left: 10px;
    border-radius: 25px;
}
/*les hébergements et populaire */
section
{
    height: 100%;
}
.hebergement_populaire
{
    display: flex;
    justify-content: space-between;
}

/*hébergements*/
.titrehebergement
{
padding-left: 5%;
font-weight: bold;
width: 100%;
}
.hebergement
{
    background-color: #F2F2F2;
    border-radius: 30px;
    width: 100%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image_choix_héb
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px; width: 100%;
}
.image
{
    width: 100%; height: 100%;
	object-fit: cover;
	overflow: hidden; 
    float: left;
    padding-left: 0.1%;
    border-top-left-radius: 20px; border-top-right-radius: 20px;
}
.choix_heb
{
    background-color: white;
    padding: 7px;
    margin-bottom: 4%;
    border-radius: 30px;
    box-shadow: 6px 6px 4px lightgray;
    width: 30%;
    text-decoration: none;
    color: black;
}

.afficher_plus
{
    padding-left: 5%;
    font-weight: bold;
    width: 100%;
}
/*couleur étoiles*/
.blue_star
{
    color: #0065FC;
}
.grey_star
{
    color: #F2F2F2;
}
/*populaire*/
.populaire
{
    background-color: #F2F2F2;
    border-radius: 30px;
    margin-left: 4%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.titre_populaire
{
    display: flex;
    justify-content: space-around;
    padding-right: 10%;
    width: 100%;
    font-weight: bold;
}

.imagepop
{
    width: 100%; height: 100%;
	object-fit: cover;
	overflow: hidden; 
    float: left;
    border-top-left-radius: 20px; border-bottom-left-radius: 20px;
}
.liste_popu
{  
    padding-left: 8%;
    display: flex;
    flex-direction: column;

}
.choix_pop_cadre
{
    display: flex;
    background-color: white;
    box-shadow: 6px 6px 4px lightgray;
    width: 90%;
    height: 195px;
    border-radius: 30px;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    margin-bottom: 8%; 
        text-decoration: none;
    color: black;
}
.text_choix_pop
{
    width: 40%;
    height: 100%;
    margin-left: 4%;
}
.image_choix_pop
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
    height: 190px; width: 40%;
}

.activite
{
    display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 80px;

}
.titre_activité
{
    font-weight: bold;
}
.cartes_act
{
    display: flex;
     flex-direction: column;
    border-radius: 20px;
box-shadow: lightgray 6px 6px 4px;
height: 12rem;
  text-decoration: none;
    color: black;
}
.cartes_act1
{
    border-radius: 20px;
    box-shadow: lightgray 6px 6px 4px;  
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-bottom: 3px;
  text-decoration: none;
    color: black;
}

.taille1{
    width: 100%; 
	object-fit: cover;
	overflow: hidden; 
    float: left;
    border-top-left-radius: 20px; border-top-right-radius: 20px;
    height: 450px;
}
.taille2
{
width: 100%; 
object-fit: cover;
overflow: hidden; 
float: left;
border-top-left-radius: 20px; border-top-right-radius: 20px;
}
.t3
{
height: 16rem;
}
.t4
{
height: 13rem;
}
.t5
{
height: 15rem;
}
.contient_double_carte
{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-between;
}
.text_choix_act
{
   padding-left: 4px;
}
/*petite résolution*/
@media screen and (max-width: 576px) {
body
{
    overflow-x: hidden;
}
    h1
{
font-size: 1.2em;

}
.infotxt
{
    font-size: 1.1em;
    display: flex;
    align-items: center;
}
h2
{
    font-size: 0.95em;
}
header nav
{
    width: 100%;
}
.S_inscrire
{
    order: -1;
    width: 25%;
}
.logo-header
{
    order: -2;
}
nav ul
{
    flex-wrap: wrap-reverse;
    align-items: flex-end;
    justify-content: space-around;
    padding-bottom: 15px;
    border-bottom: solid #f2f2f2 2px;
}
nav a:hover
{
    border-bottom: solid #0065FC 2px;
    padding-bottom: 15px;
    border-top: none;
}
footer
{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 3%;
    margin-left: -2%;
    width: 100%;
}
.fa-search
{
    visibility: visible;
    padding: 8px; 
    margin-left: 15%;
}
.interieur_rechercher
{
    visibility: hidden; width: 0%;
}
.barrerecherche
{
    display: flex;
}
.bouton-recherche
{
padding: 0%; width: 15%; 
display: flex;
align-items: center;
}
.txtfiltre
{
    width: 100%;
}
.contenant_filtres
{
    display: flex;
    flex-wrap: wrap;
}
.filtrecoeur
{
    margin-right: 100px;
}
.populaire
{
    width: 100%;
    border-radius: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -2%;
    padding-right: 10%;

}
.titre_populaire
{
    font-size: 21px;
}
.liste_popu
{
    padding-left: 12%;
}
.choix_pop_cadre
{
margin-bottom: 4%;
}
.text_choix_pop
{
    width: 50%;
}
.titrehebergement
{
    font-size: 21px;
}
.hebergement_populaire
{
 
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    width: 99%;
}
.hebergement
{
    background-color: white;
    border-radius: 30px;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: -4%;
}
.choix_heb
{
    background-color: white;
    padding: 7px;
    margin-bottom: 4%;
    border-radius: 30px;
    box-shadow: 6px 6px 4px lightgray;
    width: 100%;
    height:100%;
}

.image_choix_héb
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; width: 100%;
}
.activite
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.titre_activité
{
    font-size: 21px;
}
.cartes_act1
{
    width: 100%;
    margin-bottom: 4%;
    height: 12rem;
}
.taille1
{
    height: 100%;
    width: 100%;
}
.contient_double_carte
{
    width: 100%;
}
.cartes_act
{
    height: 100%;
    margin-bottom: 4%;
}
.taille2
{
    height: 100px;
}
}
@media screen and (min-width: 576px) and (max-width: 992px) {
body {
    overflow-x: hidden;
};
    .logo-header
{
    width: 49%;
}
header nav
{
    width: 39%;
}
.S_inscrire{
    width: 11%;
}
.choix_heb
{
    width: 30%;
}
.hebergement
{
    width: 94%;
}
.hebergement_populaire
{
 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.populaire
{
    width: 98%;
 margin-left: 0%;
    margin-top: 1%;
}
.titre_populaire
{
    margin-left: -15%;
}
.liste_popu
{
    display: flex;
    flex-direction: row;
padding-left: 3%;
width: 100%;
}
.text_choix_pop
{
    width: 70%;
}
.choix_pop_cadre
{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 250px;
margin-right: 3%;
}
.image_choix_pop
{

    height: 100px; width: 96%;
}
.imagepop
{
    border-top-left-radius: 20px; border-bottom-left-radius: 0px; border-top-right-radius: 20px;
}
.contient_double_carte
{
width : 20%
}
.cartes_act1
{
width: 20%;
height: 460px;
}
.activite
{
    width: 95%;
}
}